/* * === 0 */
* {
    margin: 0;
    box-sizing: border-box;
    color: red;
}

/* Etiqueta === 1 */
p {
    color: black;
}

/* Clase === 10 */
.classe-p {
   color: blue; 
}

/* Atributo === 10 */
[atributo] {
    color: green !important;
}

/* Id === 100 */
#unique-2 {
    color: purple;
}

div .classe-p {
    color: darkblue;
} 

/* Important === 10000 */
/* p {
    color: tomato !important;
} */

/* Important === 10000 */
/* p {
    color: red !important;
} */